<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title :if={@title}><%= @title %></title>
  <meta :if={@description} name="description" content={@description}>
  <link rel="stylesheet" href="/assets/site.min.css">
  <link rel="icon" type="image/x-icon" href="/assets/matcha-head.gif">
  <%= if @header_content, do: @header_content %>
</head>
<body>
  <header>
    <nav>
      <a href="/" class="link">
        <img class="pixel-art" src="/assets/matcha-big.gif" alt="Matcha" style="height: 5rem;">
      </a>
      <div>
        <h1><a href="/">Moosieus' Things n' Stuff</a></h1>
        <div style="display: flex; gap: 0.75rem;">
          <a class="link" href="https://github.com/Moosieus" target="_blank">GitHub</a>
          <a class="link" href="https://www.linkedin.com/in/cameron-duley/" target="_blank">LinkedIn</a>
          <a class="link" href="/assets/Cameron Duley Resume.pdf" target="_blank">Resume</a>
        </div>
      </div>
    </nav>
  </header>
  <main class="container">
    <%= @inner_content %>
  </main>
  <footer>© Moosieus <%= @copyright_date %></footer>
</body>
</html>