<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= header_tags %>
</head>
<body>
  <%= if content do %>
    <section class="content">
      <%= content %>
    </section>
  <% end %>
  <%= if index do %>
    <section class="index">
      <%= index %>
    </section>
  <% end %>
  <footer>
    <%= footer_content %>
  </footer>
</body>
</html>
