<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= header_tags %>
</head>
<body>
  <section class="content">
    <%= content %>
  </section>
  <footer>
    <%=  %>
  </footer>
</body>
</html>
