@import "./highlight.css";
@import "./modern-normalize.min.css";

/* Global Variables */

:root {
  --text-color: 0,0,0;
  --text-muted: 111, 111, 111;
  --link-color-i: 141, 47, 90;
  --background: 252, 249, 218;
  --accent-muted: 150, 150, 150;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: 255, 255, 255;
    --text-muted: 128, 128, 128;
    --link-color-i: 184, 102, 134;
    --background: 23, 23, 21;
    --accent-muted: 99, 99, 99;
  }
}

/* Layout */

html {
  color: rgb(var(--text-color));
  font-family: "Readex Pro";
  font-weight: 400;
  line-height: 1.5;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: rgb(var(--background));
}

nav {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

nav {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

nav h1 {
  font-size: 1.25rem;
}

@media screen and (min-width: 640px) {
  nav h1 {
    font-size: 1.75rem;
  }
}

nav h1 a {
  color: rgb(var(--text-color));
  text-decoration: none;
}

main {
  flex: 1;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

@media screen and (min-width:640px) {
  .container {
    width: 640px;
  }
}

@media screen and (min-width:768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width:1024px) {
  .container {
    width: 792px;
  }
}

footer {
  color: rgb(var(--text-muted));
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem;
  justify-content: center;
}

/* Typography */

@font-face {
  font-family: 'JetBrains Mono';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('/assets/fonts/JetBrainsMono-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Readex Pro';
	src: url('/assets/fonts/Readexpro[HEXP,wght].woff2') format('woff2 supports variations'),
	     url('/assets/fonts/Readexpro[HEXP,wght].woff2') format('woff2-variations');
  font-weight: 200 700;
}

.md h2:first-of-type {
  margin-top: 0;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  font-size: 1.75rem;
  font-weight: 600;
}

h3 {
  font-size: 1.25rem;
  font-weight: 600;
}

h4 {
  font-size: 1.125rem;
  font-weight: 600;
}

h5 {
  font-size: 1rem;
  font-weight: 600;
}

strong {
  font-weight: 700;
}

a.link {
  color: rgb(var(--link-color-i));
  cursor: pointer;
}

main a {
  color: rgb(var(--link-color-i));
  cursor: pointer;
}

code.inline {
  font-family: "Jetbrains Mono";
  font-size: 0.95em;
  padding: 0.0rem 0.3em;
  border-radius: 3px;
  color: #e6db74;
  background-color: #272822;
}

code.makeup {
  display: block;
  font-family: 'Jetbrains Mono';
  font-size: 0.95em;
  padding: 0.5rem 0.75rem;
  margin-bottom: 1rem;
  border-radius: 6px;
}

.text-muted {
  color: rgb(var(--text-muted));
}

hr {
  border: 1px solid rgb(var(--accent-muted));
}

.content h1 {
  margin-bottom: 1rem;
}

.content h2 {
  line-height: 1.1;
  margin-top: 2rem;
  margin-bottom: 0.75rem;
}

.content h3 {
  line-height: 1.1;
  margin-bottom: 0.5rem;
}

.content h4 {
  line-height: 1.1;
  margin-bottom: 0.25rem;
}

.content h5 {
  line-height: 1.1;
  margin-bottom: 0.125rem;
}

.content p {
  margin-bottom: 1rem;
}

.content ul {
  margin-top: -0.5rem;
  margin-left: 2rem;
  margin-bottom: 1rem;
}

.content blockquote {
  border-left: 3px solid rgb(var(--accent-muted));
  padding: 0.5rem 1rem;
  background: rgba(var(--accent-muted), 0.3);
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

.content blockquote p {
  margin-bottom: 0;
}

.index hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.index p {
  margin-bottom: 1rem;
}

.index h1 {
  margin-bottom: 1rem;
}

.index h2 a {
  text-decoration: none;
}

/* Images */

.pixel-art {
  image-rendering: crisp-edges;
}

img {
  object-fit: contain;
  max-width: 100%;
}
